<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejercicio 2</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body class="overflow-x-hidden">
    <header class="bg-primary-300 h-14">
        <div class="container h-full mx-auto ">
            <div class="flex justify-between mx-4 h-full text-white font-bold items-center">
                <a href="/">Inicio</a>
                <a href="https://github.com/ruben0032/monolito-express/blob/main/public/js/ejercicio2.js" target="_blank" class="">Ver Codigo</a>
            </div>       
        </div>
    </header>
    <main class="mx-auto font-['Consolas'] text-center my-8">
        <div class="flex flex-col items-center">
            <div class="">
                <p class="px-2 my-8">Numero 2: función que ordena una matriz de textos.</p>
                <button id="sortBtn" class="bg-primary-200 px-2 rounded-md text-white hover:bg-primary-100">Ver resultado</button>
                <div id="divText" class="my-8 mx-2">

                </div>
            </div>
        </div>
    </main>

    <script src="./js/ejercicio2.js" type="module"></script>
</body>
</html>